<div>Cta</div>

<%- include('../components/button', { buttonText: 'Click me!', buttonVariant: 'primary' }) %>
<%- include('../components/button', { buttonText: 'Another button', buttonVariant: 'secondary' }) %>