<section
  class="flex lg:h-[55vh] md:h-[45vh] h-[38vh] w-full border-5 border border-1 border-[#EBEBEB]"
>
  <div
    class="w-full flex justify-center lg:items-center items-start mt-12 lg:mt-0"
  >
    <!-- 1ST PART -->
    <div class="lg:w-[35%] w-[45%] lg:px-8 px-2">
      <h3
        class="font-['Open Sans'] font-light 2xl:text-3xl xl:text-2xl lg:text-xl text-base"
      >
        Browse other job categories
      </h3>
      <div class="flex mt-8">
        <div class="flex flex-col justify-center w-1/2 space-y-2">
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href="#"
            >Health & Beauty Services</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href="#"
            >Energy & Utilities</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href="#"
            >Engineering & Maintenance Support</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href="#"
            >Healthcare Support Services</a
          >
        </div>
        <div class="flex flex-col justify-center w-1/2 space-y-2">
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href="#"
            >Entertainment & Event Services</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href=""
            >Public Safety & Security</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href=""
            >Hospitality & Tourism</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href=""
            >Education & Childcare Services</a
          >
        </div>
      </div>
    </div>

    <!-- 2ND PART -->
    <div class="lg:w-[35%] w-[45%] lg:px-8 px-2">
      <h3
        class="font-['Open Sans'] font-light 2xl:text-3xl xl:text-2xl lg:text-xl text-base"
      >
        Browse jobs by location
      </h3>
      <div class="flex mt-8">
        <div class="flex flex-col justify-center w-1/2 space-y-2">
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href=""
            >Urban Center</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href=""
            >Provincial Capitals</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href=""
            >Tourist Destinations</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href=""
            >Industrial Zones</a
          >
        </div>
        <div class="flex flex-col justify-center w-1/2 space-y-2">
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href=""
            >Coastal Areas</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href=""
            >Agricultural Regions</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href=""
            >Mountainous Areas</a
          >
          <a
            class="font-['Open Sans'] 2xl:text-xl xl:text-base lg:text-base text-sm text-[#14BDB3] hover:text-black hover:pl-3"
            href=""
            >Emerging Cities</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
