<section
  class="h-[70vh] bg-[#a1a1a1] bg-[url('assets/city.gif')] bg-center bg-no-repeat bg-cover"
>
  <div class="flex flex-col flex-wrap justify-center content-center h-full">
    <h1
      class="text-white font-semibold font-['Open Sans'] text-5xl text-center"
    >
      Unlocking New Horizons
    </h1>
    <span
      class="font-['Open Sans'] font-light text-3xl text-white mt-8 text-center"
      >Bridging Clients and Blue Collar Talent:</span
    >
    <span
      class="font-['Open Sans'] font-light text-3xl text-white mt-1 text-center"
      >Where Imagination Meets Skill in Every Project</span
    >
    <div class="flex justify-center mt-6">
      <a
        class="flex justify-center font-['Open Sans'] font-semibold text-lg text-white mt-4 bg-gradient-to-r from-[#5DD6A2] to-[#43C1C2] rounded-full px-28 py-3 hover:scale-95 hover:shadow-[0_0px_20px_-6px_rgba(142,154,175,1)] transition duration-500 ease-in-out"
        href="#"
        >Start Your Journey</a
      >
    </div>
  </div>
</section>
