<footer class="flex flex-col items-center py-4 w-[100%] bg-blue-500">
  <!-- top area of footer -->
  <div class="flex justify-around w-[100%] py-4">
    <div class="flex gap-2">
      <img src="assets/images/Vector.svg" alt="" class="w-[50px]" />
      <p class="text-white text-2xl">Eurus</p>
    </div>
    <div class="flex gap-2">
      <div class="flex gap-2">
        <p class="text-white text-xl">2,342,233</p>
        <p class="text-lg">COMMUNITY MEMBERS</p>
      </div>
      <div class="flex gap-2">
        <p class="text-white text-xl">15,342,216</p>
        <p class="text-lg">TOTAL JOBS POSTED</p>
      </div>
    </div>
  </div>
  <!-- middle area of footer -->
  <div class="flex w-[100%] justify-around py-4">
    <div class="flex gap-4 justify-around w-[50%]">
      <nav class="flex flex-col gap-2">
        <h3 class="font-bold text-white">Meet Astrion</h3>
        <a href="" class="text-white">About us</a>
        <a href="" class="text-white">How it Works</a>
        <a href="" class="text-white">Our services</a>
        <a href="" class="text-white">Blog</a>
        <a href="" class="text-white">Contact us</a>
      </nav>
      <nav class="flex flex-col gap-2">
        <h3 class="font-bold text-white">Astrion Tools</h3>
        <a href="" class="text-white">My Account</a>
        <a href="" class="text-white">My Resumes</a>
        <a href="" class="text-white">My Jobs</a>
        <a href="" class="text-white">Employers' Messages</a>
      </nav>
    </div>
    <div class="">
      <div class="flex flex-col gap-4">
        <h3 class="text-white">Email Newsletters</h3>
        <p class="text-white">
          Keep me up-to-date with content, updates, and offers from Eurus.
        </p>
        <div class="flex gap-4 rounded-3xl">
          <input
            type="text"
            name=""
            placeholder="E-mail address"
            class="py-2 px-4 rounded-3xl text-white bg-inherit border border-white placeholder-white w-[90%]"
          />
          <button
            class="text-white bg-mountain-meadow-500 rounded-3xl py-2 px-4"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- bottom area of footer -->
  <div class="flex w-[100%] justify-around py-4">
    <div class="flex flex-col gap-4">
      <nav class="flex gap-6">
        <a href="" class="text-white">Privacy Policy</a>
        <a href="" class="text-white">Terms and Conditions</a>
        <a href="" class="text-white">Help</a>
        <a href="" class="text-white">Aurus Licenses</a>
        <a href="" class="text-white">Partners</a>
      </nav>
      <p class="text-white">2023 Eurus - All Rights Reserved.</p>
    </div>
    <div class="flex gap-4">
      <label for="language" class="text-white">Language:</label>
      <select name="language" id="language" class="max-h-[70%]">
        <option value="ENGLISH">English</option>
        <option value="SPANISH">Spanish</option>
      </select>
    </div>
  </div>
</footer>
