<footer
  class="flex flex-col items-center py-4 w-[100%] border border-t-1 border-t-2 border-gray-300"
>
  <!-- top area of footer -->
  <div
    class="flex flex-col md:flex-row items-center md:justify-around w-[100%] py-4 gap-8"
  >
    <div class="flex gap-2 ml-[-3rem]">
      <img src="assets/images/Vector.svg" alt="" class="w-[50px]" />
      <p class="text-2xl">Eurus</p>
    </div>
    <div class="flex gap-4">
      <div class="flex gap-2">
        <p class="text-lg md:text-xl ml-5 md:ml-0 text-[#14BDB3]">2,342,233</p>
        <p class="text-sm font-semibold">COMMUNITY MEMBERS</p>
      </div>
      <div class="flex gap-2">
        <p class="text-lg md:text-xl text-[#14BDB3]">15,342,216</p>
        <p class="text-sm font-semibold">TOTAL JOBS POSTED</p>
      </div>
    </div>
  </div>
  <!-- middle area of footer -->
  <div
    class="flex flex-col md:flex-row w-[100%] items-center md:justify-around py-4 gap-8"
  >
    <div class="flex gap-4 justify-around w-[100%] md:w-[50%]">
      <nav class="flex flex-col gap-2">
        <h3 class="font-bold">Meet Eurus</h3>
        <a href="" class="hover:underline underline-offset-8">About us</a>
        <a href="" class="hover:underline underline-offset-8">How it Works</a>
        <a href="" class="hover:underline underline-offset-8">Our services</a>
        <a href="" class="hover:underline underline-offset-8">Blog</a>
        <a href="" class="hover:underline underline-offset-8">Contact us</a>
      </nav>
      <nav class="flex flex-col gap-2">
        <h3 class="font-bold">Eurus Tools</h3>
        <a href="" class="hover:underline underline-offset-8">My Account</a>
        <a href="" class="hover:underline underline-offset-8">My Resumes</a>
        <a href="" class="hover:underline underline-offset-8">My Jobs</a>
        <a href="" class="hover:underline underline-offset-8"
          >Employers' Messages</a
        >
      </nav>
    </div>
    <div class="">
      <div class="flex flex-col gap-4 w-[80%] ml-10 md:ml-0">
        <h3 class="font-bold">Email Newsletters</h3>
        <p class="">
          Keep me up-to-date with content, updates, and offers from Eurus.
        </p>
        <div class="flex gap-4 rounded-3xl">
          <input
            type="text"
            name=""
            placeholder="E-mail address"
            class="py-2 px-4 rounded-3xl bg-inherit border border-[#D9E6EC] placeholder-black w-[90%]"
          />
          <button
            class="text-black bg-white rounded-3xl py-2 px-4 hover:bg-yellow-500"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- bottom area of footer -->
  <div
    class="flex flex-col md:flex-row w-[100%] justify-around py-4 ml-8 md:ml-0"
  >
    <div class="flex flex-col gap-4 items-center">
      <nav class="flex gap-6 flex-wrap justify-center">
        <a href="/public/" class="hover:underline underline-offset-8">Home</a>
        <a href="about" class="hover:underline underline-offset-8">About</a>
        <a href="browse-candidate" class="hover:underline underline-offset-8"
          >Browse Candidate</a
        >
        <a href="browse-jobs" class="hover:underline underline-offset-8"
          >Browse Jobs</a
        >
        <a href="candidate-details" class="hover:underline underline-offset-8"
          >Candidate Details</a
        >
        <a href="employer-details" class="hover:underline underline-offset-8"
          >Employer Details</a
        >
        <a href="job-details" class="hover:underline underline-offset-8"
          >Job Details</a
        >
        <a href="login-employer" class="hover:underline underline-offset-8"
          >Login Employer</a
        >
        <a href="login-freelancer" class="hover:underline underline-offset-8"
          >Login Freelancer</a
        >
        <a href="signup-employer" class="hover:underline underline-offset-8"
          >Signup Employer</a
        >
        <a href="signup-freelancer" class="hover:underline underline-offset-8"
          >Signup Freelancer</a
        >
      </nav>
      <p class="">2023 Eurus - All Rights Reserved.</p>
    </div>
    <div class="flex gap-4 justify-center">
      <label for="language" class="">Language:</label>
      <select
        name="language"
        id="language"
        class="max-h-[70%] w-[10vw] border-[#D9E6EC] border rounded-xl"
      >
        <option value="ENGLISH">English</option>
        <option value="SPANISH">Spanish</option>
      </select>
    </div>
  </div>
</footer>
