<header class="flex max-w-[100%] justify-evenly items-center bg-blue-500 py-4">
  <div class="flex gap-2">
    <img src="assets/images/Vector.svg" alt="" class="w-[50px]" />
    <p class="text-white text-2xl">Eurus</p>
  </div>
  <div class="flex gap-2">
    <img src="assets/images/archive.svg" alt="" class="" />
    <p class="text-white text-sm">BROWSE JOBS</p>
  </div>
  <div class="">
    <input
      type="text"
      class="rounded-3xl text-sm bg-inherit border-white border placeholder-white w-[20vw]"
      name=""
      placeholder="KEYWORD SEARCH"
    />
  </div>
  <nav class="flex gap-5">
    <a href="" class="text-white text-sm">HOME</a>
    <a href="" class="text-white text-sm">FREELANCERS</a>
    <a href="" class="text-white text-sm">EMPLOYERS</a>
    <a href="" class="text-white text-sm">ABOUT US</a>
    <a href="" class="text-white text-sm">SERVICES</a>
    <a href="" class="text-white text-sm">BLOG</a>
    <a href="" class="text-white text-sm">CONTACT</a>
  </nav>
  <div class="flex gap-4">
    <button
      class="border-white border text-white text-md py-2 px-4 rounded-3xl"
    >
      Log-in
    </button>
    <button
      class="border-white border bg-white text-black text-md py-2 px-4 rounded-3xl"
    >
      Sign-up
    </button>
  </div>
</header>
