<% inputText = inputText; inputID = inputID %>

<!-- Button -->
<div class="mt-10 flex items-center justify-center gap-x-6">
  <!-- Links -->
  <%- include('../atom/Input', { inputText, inputID}); %>
</div>

<!-- Primary button -->

<!-- Secondary button -->

<!-- <%- include('../../components/molecules/input', {inputText: "Email",
          inputID: "email"}); %>  -->
