<div class="flex justify-center text-center w-[240px] flex-wrap">
  <a
    href="#"
    class="group flex flex-row flex-wrap justify-center content-center"
  >
    <div
      class="flex flex-wrap justify-center content-center border-[#EBEBEB] bg-[#EBEBEB] w-[100px] h-[100px] rounded-[13px] mb-1 group-hover:border-[#CCCCDF] group-hover:border-opacity-60 group-hover:bg-white group-hover:shadow-[0_0px_30px_-2px_rgba(204,204,203,1)] group-hover:scale-105 transition duration-500 ease-in-out"
    >
      <img src="<%= featuredMemberPhoto %>" />
    </div>
    <span
      class="font-open text-sm font-bold text-[#7D7D7D] text-center group-hover:text-[#14BDB3] group-hover:scale-105 transition duration-400 ease-in-out mt-2 mb-4 lg:mb-0"
      ><%= featuredMemberName %></span
    >
  </a>
</div>
