<div class="flex flex-col gap-2 items-center p-2">
  <a href="#" class="group flex flex-col flex-wrap justify-center items-center">
    <div
      class="flex flex-wrap justify-center items-center border-[#EBEBEB] bg-[#EBEBEB] w-[100px] h-[100px] rounded-[13px] mb-1 group-hover:border-[#CCCCDF] group-hover:border-opacity-60 group-hover:bg-white group-hover:shadow-[0_0px_30px_-2px_rgba(204,204,203,1)] group-hover:scale-105 transition duration-500 ease-in-out"
    >
      <img
        src="<%= companyLogo %>"
        alt=""
        class="border border-gray-500 h-full w-full object-cover rounded-[13px]"
      />
    </div>
    <p
      class="text-center font-bold font-open font-sm text-[#7D7D7D] group-hover:text-[#14BDB3] group-hover:scale-105 transition duration-400 ease-in-out mt-2"
    >
      <%= companyName %>
    </p>
  </a>
</div>
