<div class="flex justify-center mt-8">
  <input
    class="border border-[#EBEBEB] rounded-full text-left text-[#959595] px-9 py-4 w-5/6 focus:outline-none focus:border-[#A0FFD6] focus:ring-[#e9ecef] focus:ring-1"
    type="text"
    placeholder="Enter job title, position, skills..."
  />
  <button
    class="font-montserrat text-sm text-[#e9ecef] uppercase border rounded-full bg-gradient-to-r from-[#5DD6A2] to-[#43C1C2] ml-[-180px] my-1 mx-1 px-12 py-2 leading-none hover:text-white hover:font-semibold hover:scale-95 hover:shadow-[0_0px_20px_-6px_rgba(142,154,175,1)] transition duration-500 ease-in-out"
    type="submit"
  >
    Find Jobs
  </button>
</div>
