<div class="relative rounded-full border-gray-300 border-2">
  <img
    class="w-10 h-10 rounded-full"
    src="assets/images/archive.svg"
    alt="profile image"
  />
  <span
    class="top-0 left-7 absolute w-3.5 h-3.5 bg-red-500 border-2 border-white dark:border-gray-800 rounded-full"
  ></span>
</div>
<div class="relative">
  <img
    class="w-10 h-10 rounded-full border-gray-300 border-2"
    src="<%= candidatePhoto %>"
    alt="profile image"
  />
  <span
    class="top-0 left-7 absolute w-3.5 h-3.5 bg-green-500 border-2 border-white dark:border-gray-800 rounded-full"
  ></span>
</div>
