<div class="flex h-auto border border-black w-full mb-2">
  <div class="w-[80%] border border-black"></div>
  <div class="flex justify-between w-full border border-black items-end">
    <div class="relative top-8 border border-gray-600 rounded-full">
      <img
        class="w-[200px] rounded-full"
        src="assets/images/icons/Engineer-professions-jobs-worker-man.svg"
        alt="profile image"
      />
      <span
        class="top-0 right-7 absolute w-3.5 h-3.5 bg-green-500 border-2 border-white dark:border-gray-800 rounded-full"
      ></span>
    </div>
  </div>
  <button
    class="border border-black rounded-3xl w-[20vw] flex self-center p-4 bg-white"
  >
    Edit Cover Picture
  </button>
</div>
