<div class="flex h-auto w-full mb-2">
  <div class="w-[80%]"></div>
  <div class="flex justify-between w-full items-end">
    <div class="relative top-8 rounded-full bg-white border border-gray-400">
      <img
        class="w-[200px] rounded-full"
        src="<%= candidatePhoto %>"
        alt="profile image"
      />
      <span
        class="top-0 right-7 absolute w-3.5 h-3.5 bg-green-500 border-2 border-white dark:border-gray-800 rounded-full"
      ></span>
    </div>
  </div>
  <button
    class="rounded-3xl w-[20vw] flex self-center p-4 bg-white border-2 border-black mr-4"
  >
    Edit Cover Picture
  </button>
</div>
