<div class="flex justify-center">
  <span class="font-open font-light lg:text-lg md:text-base mt-5 text-white"
    >Update the latest jobs and announcements from Eurus.
  </span>
  <span
    class="font-open font-bold lg:text-lg md:text-base mt-5 pl-2 text-white"
  >
    Join us today
  </span>
</div>
