<% title = "Home Page" %>

<!-- Hero Section -->
<%- include('../partials/home/hero-section'); %>

<!-- FIND JOBS -->
<section class="flex flex-col flex-wrap content-center justify-center h-[90vh]">
  <div class="">
    <div class="flex flex-col justify-center">
      <h2
        class="font-[Open Sans] text-[#4F4F6F] font-bold lg:text-7xl md:text-5xl text-3xl text-center"
      >
        Find Jobs
      </h2>
      <span
        class="font-[Open Sans] text-[#7D7D7D] font-light lg:text-4xl md:text-2xl text-lg mt-3 text-center"
        >Apply privately to 34,456 jobs with one application</span
      >
    </div>

    <div class="flex justify-center mt-8">
      <input
        class="border border-[#EBEBEB] rounded-full text-left text-[#959595] px-9 py-4 w-5/6 focus:outline-none focus:border-[#A0FFD6] focus:ring-[#e9ecef] focus:ring-1"
        type="text"
        placeholder="Enter job title, position, skills..."
      />
      <button
        class="font-['Montserrat'] text-sm text-[#e9ecef] uppercase border rounded-full bg-gradient-to-r from-[#5DD6A2] to-[#43C1C2] ml-[-180px] my-1 mx-1 px-12 py-2 leading-none hover:text-white hover:font-semibold hover:scale-95 hover:shadow-[0_0px_20px_-6px_rgba(142,154,175,1)] transition duration-500 ease-in-out"
        type="submit"
      >
        Find Jobs
      </button>
    </div>
    <div class="flex justify-center">
      <span
        class="font-['Open Sans'] font-light lg:text-lg md:text-base mt-5 text-[#959595]"
        >Update the latest jobs and announcements from Athena.
      </span>
      <span
        class="font-['Open Sans'] font-bold lg:text-lg md:text-base mt-5 pl-2 text-[#14BDB3]"
      >
        Join us today
      </span>
    </div>

    <!-- BUTTONS -->
    <div class="flex flex-wrap justify-center content-center mt-10 space-x-2">
      <div class="group">
        <a
          class="flex border-[#CCCCDF] border-opacity-60 bg-white rounded-full shadow-[0_0px_20px_-8px_rgba(204,204,203,1)] lg:px-16 py-4 px-8 mr-8 group-hover:shadow-[0_0px_25px_-6px_rgba(50,184,186,1)] transition duration-400 ease-in-out"
          href="#"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="23.932"
            height="23.941"
            viewBox="0 0 23.932 23.941"
            class="group-hover:scale-105 transition duration-400 ease-in-out"
          >
            <path
              id="Op_component_3"
              data-name="Op component 3"
              d="M734.892,1460.719,747.41,1448.2l5.356,5.356-12.518,12.518Zm13.094-9.5-.587-.587-10.075,10.075.587.587Zm1.174,1.174-.587-.587L738.5,1461.883l.587.587Zm1.174,1.174-.587-.588-10.075,10.076.587.586Zm-.526-7.731a1.677,1.677,0,0,1,2.372-.01l2.953,2.953a1.677,1.677,0,0,1-.01,2.372l-1.824,1.824-5.315-5.315Zm-15.328,15.579,5.071,5.071-4.444,1.578-2.206-2.206Zm-.214,6.925-2.578.939.939-2.578Z"
              transform="translate(-731.687 -1445.34)"
              fill="#252525"
            />
          </svg>
          <span
            class="font-['Open Sans'] font-semibold lg:text-lg md:text-base text-sm group-hover:scale-105 transition duration-400 ease-in-out ml-6"
            >Post a Job</span
          >
        </a>
      </div>

      <div class="group">
        <a
          class="flex border-[#CCCCDF] border-opacity-60 bg-white rounded-full shadow-[0_0px_20px_-8px_rgba(204,204,203,1)] lg:px-16 py-4 px-8 mr-8 group-hover:shadow-[0_0px_25px_-6px_rgba(50,184,186,1)] transition duration-400 ease-in-out"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28.902"
            height="22.809"
            viewBox="0 0 28.902 22.809"
            class="group-hover:scale-105 transition duration-400 ease-in-out"
          >
            <path
              id="archive_copy"
              data-name="archive copy"
              d="M1041.026,1467.873l-5.255-1.375a.9.9,0,0,1-.554-.419.859.859,0,0,1-.086-.664l5.4-19.662a.9.9,0,0,1,.876-.657.942.942,0,0,1,.235.031l5.255,1.374a.9.9,0,0,1,.555.421.858.858,0,0,1,.086.662l-5.4,19.663a.913.913,0,0,1-1.111.626Zm-4.184-5.276a2.587,2.587,0,0,0,.258,1.993,2.69,2.69,0,0,0,1.665,1.259,2.78,2.78,0,0,0,.706.091,2.713,2.713,0,0,0,2.625-1.967,2.586,2.586,0,0,0-.257-1.991,2.693,2.693,0,0,0-1.666-1.261,2.8,2.8,0,0,0-.707-.091A2.712,2.712,0,0,0,1036.841,1462.6Zm1.041-3.794,5.255,1.374,2.816-10.258-5.255-1.375Zm19.768,8.766a.9.9,0,0,1-.9-.9v-20.33a.9.9,0,0,1,.9-.9h5.45a.9.9,0,0,1,.9.9v20.33a.9.9,0,0,1-.9.9Zm0-3.99a2.721,2.721,0,1,0,2.72-2.66A2.694,2.694,0,0,0,1057.65,1463.58Zm0-3.98h5.44v-10.62h-5.44Zm-8.16,7.969a.9.9,0,0,1-.9-.9v-20.33a.9.9,0,0,1,.9-.9h5.45a.9.9,0,0,1,.9.9v20.33a.9.9,0,0,1-.9.9Zm0-4.05a2.72,2.72,0,1,0,2.72-2.66A2.694,2.694,0,0,0,1049.49,1463.52Zm0-3.92h5.44v-10.62h-5.44Zm9.52,3.98a1.36,1.36,0,1,1,1.36,1.33A1.345,1.345,0,0,1,1059.01,1463.58Zm-8.16,0a1.36,1.36,0,1,1,1.36,1.33A1.346,1.346,0,0,1,1050.85,1463.58Zm-11.748,1.04a1.325,1.325,0,0,1-.962-1.625,1.364,1.364,0,0,1,1.666-.939,1.324,1.324,0,0,1,.962,1.625,1.356,1.356,0,0,1-1.313.984A1.393,1.393,0,0,1,1039.1,1464.62Zm1.065-10.717.234-.854,3.5.915-.235.856Zm18.393.387v-.89h3.63v.89Zm-8.16,0v-.89h3.63v.89Zm-9.764-2.1.235-.854,3.5.916-.235.855Zm17.924.317v-.88h3.63v.88Zm-8.16,0v-.88h3.63v.88Zm-9.294-2.026.235-.855,3.5.916-.235.856Zm17.455.256v-.88h3.63v.88Zm-8.16,0v-.88h3.63v.88Z"
              transform="translate(-1035.098 -1445.095)"
              fill="#363636"
            />
          </svg>
          <span
            class="font-['Open Sans'] font-semibold lg:text-lg md:text-base text-sm group-hover:scale-105 transition duration-400 ease-in-out ml-6"
            >Job List</span
          >
        </a>
      </div>
    </div>

    <!-- ICONS SECTION -->
    <div class="flex flex-wrap justify-center mt-20 space-x-10">
      <!-- FIRST SQUARE - CARPENTER -->
      <div class="flex justify-center text-center w-[120px]">
        <a
          href="#"
          class="group flex flex-row flex-wrap justify-center content-center"
        >
          <div
            class="flex flex-wrap justify-center content-center border-[#EBEBEB] bg-[#EBEBEB] w-[100px] h-[100px] rounded-[13px] mb-1 group-hover:border-[#CCCCDF] group-hover:border-opacity-60 group-hover:bg-white group-hover:shadow-[0_0px_30px_-2px_rgba(204,204,203,1)] group-hover:scale-105 transition duration-500 ease-in-out"
          >
            <img src="assets/Engineer-professions-jobs-worker-man.svg" />
          </div>
          <span
            class="font-['Open Sans'] text-sm font-bold text-[#7D7D7D] text-center group-hover:text-[#14BDB3] group-hover:scale-105 transition duration-400 ease-in-out mt-2 mb-4 lg:mb-0"
            >Construction & Trades</span
          >
        </a>
      </div>

      <!-- SECOND SQUARE - MECHANIC -->
      <div class="flex justify-center text-center w-[120px]">
        <a
          href="#"
          class="group flex flex-row flex-wrap justify-center content-center"
        >
          <div
            class="flex flex-wrap justify-center content-center border-[#EBEBEB] bg-[#EBEBEB] w-[100px] h-[100px] rounded-[13px] mb-1 group-hover:border-[#CCCCDF] group-hover:border-opacity-60 group-hover:bg-white group-hover:shadow-[0_0px_30px_-2px_rgba(204,204,203,1)] group-hover:scale-105 transition duration-400 ease-in-out"
          >
            <img src="assets/Mechanic-repair-professions-jobs-man.svg" />
          </div>
          <span
            class="font-['Open Sans'] text-sm font-bold text-[#7D7D7D] text-center group-hover:text-[#14BDB3] group-hover:scale-105 transition duration-300 ease-in-out mt-2 mb-4 lg:mb-0"
            >Mechanical & Automotive</span
          >
        </a>
      </div>

      <!-- THIRD SQUARE - FARMER -->
      <div class="flex justify-center text-center w-[120px]">
        <a
          href="#"
          class="group flex flex-row flex-wrap justify-center content-center"
        >
          <div
            class="flex flex-wrap justify-center content-center border-[#EBEBEB] bg-[#EBEBEB] w-[100px] h-[100px] rounded-[13px] mb-1 group-hover:border-[#CCCCDF] group-hover:border-opacity-60 group-hover:bg-white group-hover:shadow-[0_0px_30px_-2px_rgba(204,204,203,1)] group-hover:scale-105 transition duration-400 ease-in-out"
          >
            <img
              class="border-0"
              src="assets/Farmer-man-farming-gardening-jobs.svg"
              width="78"
              height="77"
            />
          </div>
          <span
            class="font-['Open Sans'] text-sm font-bold text-[#7D7D7D] text-center group-hover:text-[#14BDB3] group-hover:scale-105 transition duration-300 ease-in-out mt-2 mb-4 lg:mb-0"
            >Agriculture & Farming</span
          >
        </a>
      </div>

      <!-- FOURTH SQUARE - DRIVER -->
      <div class="flex justify-center text-center w-[120px]">
        <a
          href="#"
          class="group flex flex-row flex-wrap justify-center content-center"
        >
          <div
            class="flex flex-wrap justify-center content-center border-[#EBEBEB] bg-[#EBEBEB] w-[100px] h-[100px] rounded-[13px] mb-1 group-hover:border-[#CCCCDF] group-hover:border-opacity-60 group-hover:bg-white group-hover:shadow-[0_0px_30px_-2px_rgba(204,204,203,1)] group-hover:scale-105 transition duration-400 ease-in-out"
          >
            <img src="assets/Taxi driver-professions-jobs-avatar-man.svg" />
          </div>
          <span
            class="font-['Open Sans'] text-sm font-bold text-[#7D7D7D] text-center group-hover:text-[#14BDB3] group-hover:scale-105 transition duration-300 ease-in-out mt-2 mb-4 lg:mb-0"
            >Transportation & Logistics</span
          >
        </a>
      </div>

      <!-- FIFTH SQUARE - MAID -->
      <div class="flex justify-center text-center w-[120px]">
        <a
          href="#"
          class="group flex flex-row flex-wrap justify-center content-center"
        >
          <div
            class="flex flex-wrap justify-center content-center border-[#EBEBEB] bg-[#EBEBEB] w-[100px] h-[100px] rounded-[13px] mb-1 group-hover:border-[#CCCCDF] group-hover:border-opacity-60 group-hover:bg-white group-hover:shadow-[0_0px_30px_-2px_rgba(204,204,203,1)] group-hover:scale-105 transition duration-400 ease-in-out"
          >
            <img
              src="assets/Maid-woman-profession-jobs-avatar.svg"
              width="78"
              height="77"
            />
          </div>
          <span
            class="font-['Open Sans'] text-sm font-bold text-[#7D7D7D] text-center group-hover:text-[#14BDB3] group-hover:scale-105 transition duration-300 ease-in-out mt-2 mb-4 lg:mb-0"
            >Facilities & Maintenance</span
          >
        </a>
      </div>

      <!-- SIXTH SQUARE - CHEF -->
      <div class="flex justify-center text-center w-[120px]">
        <a
          href="#"
          class="group flex flex-row flex-wrap justify-center content-center"
        >
          <div
            class="flex flex-wrap justify-center content-center border-[#EBEBEB] bg-[#EBEBEB] w-[100px] h-[100px] rounded-[13px] mb-1 group-hover:border-[#CCCCDF] group-hover:border-opacity-60 group-hover:bg-white group-hover:shadow-[0_0px_30px_-2px_rgba(204,204,203,1)] group-hover:scale-105 transition duration-400 ease-in-out"
          >
            <img src="assets/Chef-professions-jobs-avatar-cooker.svg" />
          </div>
          <span
            class="font-['Open Sans'] text-sm font-bold text-[#7D7D7D] text-center group-hover:text-[#14BDB3] group-hover:scale-105 transition duration-300 ease-in-out mt-2 mb-4 lg:mb-0"
            >Food & Beverage Services</span
          >
        </a>
      </div>

      <!-- SEVENTH SQUARE - SEAMSTRESS -->
      <div class="flex justify-center text-center w-[120px]">
        <a
          href="#"
          class="group flex flex-row flex-wrap justify-center content-center"
        >
          <div
            class="flex flex-wrap justify-center content-center border-[#EBEBEB] bg-[#EBEBEB] w-[100px] h-[100px] rounded-[13px] mb-1 group-hover:border-[#CCCCDF] group-hover:border-opacity-60 group-hover:bg-white group-hover:shadow-[0_0px_30px_-2px_rgba(204,204,203,1)] group-hover:scale-105 transition duration-400 ease-in-out"
          >
            <img
              src="assets/Cashier-sales assistant-supermarket-woman-professions.svg"
            />
          </div>
          <span
            class="font-['Open Sans'] text-sm font-bold text-[#7D7D7D] text-center group-hover:text-[#14BDB3] group-hover:scale-105 transition duration-300 ease-in-out mt-2 mb-4 lg:mb-0"
            >Textile & Apparel Production</span
          >
        </a>
      </div>
    </div>
  </div>
</section>

<!-- CONNECTING WORKFORCE -->
<section class="h-[80vh] flex">
  <div class="w-1/2 h-full bg-[#334E58] flex justify-center">
    <div class="w-[60%] flex flex-col flex-wrap justify-center">
      <h2 class="font-['Open Sans'] text-5xl font-bold text-white text-center">
        Connecting the <br />
        Eurus Workforce
      </h2>
      <div class="flex justify-center">
        <span class="font-['Open Sans'] text-base text-white text-center mt-8"
          >The Power of Connection: Empowering Blue Collar Aspirations with
          Eurus. Leverage Our Extensive Network, Exchange Ideas, and Cultivate
          Meaningful Relationships to Propel Your Career to New Heights.</span
        >
      </div>
      <div class="flex justify-center">
        <a
          class="font-['Inter'] text-lg text-[#010000] bg-[#FDFFFC] px-20 py-4 rounded-full w-fit mt-12 hover:bg-[#dee2e6] hover:scale-95 hover:font-semibold text-[#334E58] transition duration-500 ease-in-out"
          href=""
          >Join Now</a
        >
      </div>
    </div>
  </div>

  <div class="w-1/2 h-full bg-red-500">
    <div class="flex flex-wrap content-center justify-center h-full">
      <img
        class="object-cover h-full"
        src="assets/images/promo.gif"
        width="1920"
        height="1080"
      />
    </div>
  </div>
</section>

<%- include('../partials/home/how-it-works'); %> <%-
include('../partials/home/start-promo'); %> <%-
include('../partials/home/browse-category'); %>

<!-- <div class="h-48"></div>
<div class="swiper max-w-7xl mx-auto h-screen"> -->
<!-- Additional required wrapper -->
<!-- <div class="swiper-wrapper"> -->
<!-- Slides -->
<!-- <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div> -->
<!-- If we need pagination -->
<!-- <div class="swiper-pagination absolute bottom-[-10]"></div> -->

<!-- If we need navigation buttons -->
<!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> -->

<!-- If we need scrollbar -->
<!-- <div class="swiper-scrollbar"></div>
</div> -->
