<section class="h-[70vh] bg-[#ECF5F6] flex justify-center items-center">
  <!-- CREATE THIS WITH FLICKITY -->
  <div class="w-[70%] flex justify-center items-center">
    <!-- LINE -->
    <div class="w-[20%] pt-3">
      <div class="h-[0.063rem] w-[6.25rem] bg-[#F4F5F6]"></div>
    </div>

    <div class="w-[70%]">
      <span
        class="font-['Open Sans'] font-bold text-sm uppercase text-[#1ECEA4]"
        >Client Feedback</span
      >
      <div class="carousel mt-10" data-flickity='{ "autoPlay": true }'>
        <!-- 1ST CARD -->
        <div
          class="w-[80%] h-[400px] mr-[20px] rounded-2xl bg-white flex justify-center items-center"
        >
          <div
            class="flex flex-col justify-center items-center h-[80%] w-[80%]"
          >
            <div class="flex">
              <div class="">
                <div
                  class="inline-block bg-[url('https://img.freepik.com/free-photo/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair_285396-896.jpg?w=1380&t=st=1691511338~exp=1691511938~hmac=15be2778f89d5d52411b508d56ffd60ff1ccb91988c8709323fd69b4c1497bdc')] h-[5rem] w-[5rem] rounded-md bg-cover bg-center mr-8 mt-2"
                ></div>
              </div>
              <div class="flex">
                <span
                  class="font-['Montserrat'] font-bold text-[#1ECEA4] text-8xl mr-2 mt-[-9px]"
                  >"</span
                >
                <h1 class="font-['Open Sans'] text-3xl mb-9">
                  Dreams into Reality: Eurus Delivered Beyond Expectations
                </h1>
              </div>
            </div>
            <div class="flex flex-col w-[75%] self-end">
              <p class="font-['Open Sans'] text-[#7D7D7D] text-lg">
                Eurus turned my house renovation dreams into reality. Their team
                of skilled professionals transformed my space beyond my
                expectations. Thank you, Eurus!
              </p>
              <div class="flex mt-5 items-center">
                <span
                  class="text-[#13B0A7] font-['Open Sans'] font-semibold text-sm"
                  >Sarah Mitchell</span
                >
                <span
                  class="font-['Open Sans'] text-[#959595] text-xs uppercase"
                  >- Homeowner</span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 2ND CARD -->
        <div
          class="w-[80%] h-[400px] mr-[20px] rounded-2xl bg-white flex justify-center items-center"
        >
          <div
            class="flex flex-col justify-center items-center h-[80%] w-[80%]"
          >
            <div class="flex">
              <div class="">
                <div
                  class="inline-block bg-[url('https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?w=1380&t=st=1691517626~exp=1691518226~hmac=e00900fbfdd3dd85c28872335bf0d630c322a60cd47c9f1b940414d49f006d73')] h-[5rem] w-[5rem] rounded-md bg-cover bg-center mr-8 mt-2"
                ></div>
              </div>
              <div class="flex">
                <span
                  class="font-['Montserrat'] font-bold text-[#1ECEA4] text-8xl mr-2 mt-[-9px]"
                  >"</span
                >
                <h1 class="font-['Open Sans'] text-3xl mb-9">
                  Staffing Solutions: Eurus Ensured Smooth Business Operations
                </h1>
              </div>
            </div>
            <div class="flex flex-col w-[75%] self-end">
              <p class="font-['Open Sans'] text-[#7D7D7D] text-lg">
                As a restaurant owner, I needed reliable blue collar workers
                fast. Eurus connected me with top-notch staff quickly, helping
                me keep my business running smoothly.
              </p>
              <div class="flex mt-5 items-center">
                <span
                  class="text-[#13B0A7] font-['Open Sans'] font-semibold text-sm"
                  >David Anderson</span
                >
                <span
                  class="font-['Open Sans'] text-[#959595] text-xs uppercase"
                  >- Small Business Owner</span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 3RD CARD -->
        <div
          class="w-[80%] h-[400px] mr-[20px] rounded-2xl bg-white flex justify-center items-center"
        >
          <div
            class="flex flex-col justify-center items-center h-[80%] w-[80%]"
          >
            <div class="flex">
              <div class="">
                <div
                  class="inline-block bg-[url('https://img.freepik.com/free-photo/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction_176420-15187.jpg?w=1380&t=st=1691517663~exp=1691518263~hmac=2a70d17ad05566117944023c4a6de16ed5029a4941394729a0b39575ba7da87d')] h-[5rem] w-[5rem] rounded-md bg-cover bg-center mr-8 mt-2"
                ></div>
              </div>
              <div class="flex">
                <span
                  class="font-['Montserrat'] font-bold text-[#1ECEA4] text-8xl mr-2 mt-[-9px]"
                  >"</span
                >
                <h1 class="font-['Open Sans'] text-3xl mb-9">
                  DIY Dreams: Eurus Simplified Finding Skilled Craftsmen
                </h1>
              </div>
            </div>
            <div class="flex flex-col w-[75%] self-end">
              <p class="font-['Open Sans'] text-[#7D7D7D] text-lg">
                Eurus provided me with the tools to find the perfect carpenter
                for my project. Their platform made the process simple and
                stress-free.
              </p>
              <div class="flex mt-5 items-center">
                <span
                  class="text-[#13B0A7] font-['Open Sans'] font-semibold text-sm"
                  >Maria Chavez</span
                >
                <span
                  class="font-['Open Sans'] text-[#959595] text-xs uppercase"
                  >- DIY Enthusiast</span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 4TH CARD -->
        <div
          class="w-[80%] h-[400px] mr-[20px] rounded-2xl bg-white flex justify-center items-center"
        >
          <div
            class="flex flex-col justify-center items-center h-[80%] w-[80%]"
          >
            <div class="flex">
              <div class="">
                <div
                  class="inline-block bg-[url('https://img.freepik.com/free-photo/cute-smiling-young-man-with-bristle-looking-satisfied_176420-18989.jpg?w=1380&t=st=1691517701~exp=1691518301~hmac=559631f71a8b7ddb1cd30cee7528eab963d203c8c62291f521f9855e172ff7c9')] h-[5rem] w-[5rem] rounded-md bg-cover bg-center mr-8 mt-2"
                ></div>
              </div>
              <div class="flex">
                <span
                  class="font-['Montserrat'] font-bold text-[#1ECEA4] text-8xl mr-2 mt-[-9px]"
                  >"</span
                >
                <h1 class="font-['Open Sans'] text-3xl mb-9">
                  Auto Repair: Eurus Elevated Mechanic Hiring Process
                </h1>
              </div>
            </div>
            <div class="flex flex-col w-[75%] self-end">
              <p class="font-['Open Sans'] text-[#7D7D7D] text-lg">
                Finding a skilled mechanic was a challenge until I joined Eurus.
                Now, my shop thrives with highly trained professionals who know
                their craft.
              </p>
              <div class="flex mt-5 items-center">
                <span
                  class="text-[#13B0A7] font-['Open Sans'] font-semibold text-sm"
                  >James Turner</span
                >
                <span
                  class="font-['Open Sans'] text-[#959595] text-xs uppercase"
                  >- Auto Repair Shop Owner</span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 5TH CARD -->
        <div
          class="w-[80%] h-[400px] mr-[20px] rounded-2xl bg-white flex justify-center items-center"
        >
          <div
            class="flex flex-col justify-center items-center h-[80%] w-[80%]"
          >
            <div class="flex">
              <div class="">
                <div
                  class="inline-block bg-[url('https://img.freepik.com/free-photo/smiling-natural-redhead-girl-cross-arms-chest-looks-confident-determined-camera-professional-woman-t-shirt-standing-against-white-background_176420-46504.jpg?w=1380&t=st=1691517729~exp=1691518329~hmac=5e23187875dec44b85b196a1923c8fbad5da7ca3f8a940116e619f9ed7391d94')] h-[5rem] w-[5rem] rounded-md bg-cover bg-center mr-8 mt-2"
                ></div>
              </div>
              <div class="flex">
                <span
                  class="font-['Montserrat'] font-bold text-[#1ECEA4] text-8xl mr-2 mt-[-9px]"
                  >"</span
                >
                <h1 class="font-['Open Sans'] text-3xl mb-9">
                  Event Excellence: Eurus Transformed Event Staffing Landscape
                </h1>
              </div>
            </div>
            <div class="flex flex-col w-[75%] self-end">
              <p class="font-['Open Sans'] text-[#7D7D7D] text-lg">
                Eurus made hiring waitstaff and event support a breeze. Their
                platform is a game-changer for event professionals like me.
              </p>
              <div class="flex mt-5 items-center">
                <span
                  class="text-[#13B0A7] font-['Open Sans'] font-semibold text-sm"
                  >Emily Rodriguez</span
                >
                <span
                  class="font-['Open Sans'] text-[#959595] text-xs uppercase"
                  >- Event Planner</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
