<section class="flex h-[80vh]">
  <!-- 1ST SECTION -->
  <div class="w-1/2 h-full bg-red-500">
    <div class="flex flex-wrap content-center justify-center h-full">
      <img
        class="object-cover h-full w-full"
        src="assets/images/freelancer promo.gif"
        width="1920"
        height="1080"
      />
    </div>
  </div>

  <!-- 2ND SECTION -->

  <div
    class="w-1/2 h-full bg-blue-200 flex justify-center flex-wrap content-center bg-gradient-to-r from-[#087FE0] to-[#01D2A9]"
  >
    <div class="w-[10%] pt-3 mr-20">
      <div class="flex h-[0.063rem] w-[6.25rem] bg-white justify-start"></div>
    </div>
    <div class="w-[60%] flex flex-col">
      <span
        class="font-['Open Sans'] text-sm text-white uppercase font-semibold"
        >Blue Collar Freelancer Feedback</span
      >

      <div
        class="inline-block bg-[url('https://images.pexels.com/photos/17637128/pexels-photo-17637128/free-photo-of-portrait-of-a-man-in-a-blue-shirt.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')] h-[5rem] w-[5rem] rounded-full bg-cover bg-top mr-8 mt-10"
      ></div>
      <div class="flex">
        <span
          class="font-['Montserrat'] font-bold text-[#1ECEA4] text-8xl mr-2 mt-7"
          >"</span
        >
        <div class="flex flex-col">
          <p
            class="font-['Open Sans'] 2xl:text-base xl:text-base lg:text-base md:text-sm sm:text-sm text-white mb-4 mt-10"
          >
            Discovering Eurus was a turning point in my career. The platform's
            seamless interface and diverse job opportunities have enabled me to
            find consistent work that aligns perfectly with my skills.
          </p>
          <p
            class="font-['Open Sans'] 2xl:text-base xl:text-base lg:text-base md:text-sm sm:text-sm text-white mb-4 mt-10"
          >
            The support from the Eurus community has been invaluable, fostering
            a sense of belonging and growth. I'm grateful for the positive
            impact it's had on my freelancing journey.
          </p>
          <!-- FOUNDER PROFILE -->
          <div class="flex mt-6">
            <div class="">
              <span class="font-['Open Sans'] font-semibold text-sm text-white"
                >Gabriel Cruz</span
              >
              <span class="font-['Open Sans'] text-white text-xs uppercase"
                >construction</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
