<section
  class="flex 2xl:h-[80vh] xl:h-[80vh] lg:h-[100vh] md:h-[100vh] sm:h-[110vh]"
>
  <!-- 1ST SECTION -->
  <div
    class="w-1/2 h-full bg-blue-200 flex justify-center flex-wrap content-center bg-gradient-to-r from-[#087FE0] to-[#01D2A9]"
  >
    <div class="w-[60%]">
      <span
        class="font-['Open Sans'] 2xl:text-sm xl:text-sm lg:text-sm md:text-xs sm:text-xs text-white uppercase"
        >Blue Collar Freelancer</span
      >
      <h2
        class="font-['Open Sans'] font-bold 2xl:text-5xl xl:text-5xl lg:text-3xl md:text-2xl sm:text-lg text-white mb-10"
      >
        Letter From Founder
      </h2>
      <p
        class="font-['Open Sans'] 2xl:text-base xl:text-base lg:text-base md:text-sm sm:text-sm text-white mb-4"
      >
        Welcome to Eurus! As a blue collar freelancer myself and the founder of
        this platform, I'm excited to extend a warm welcome to you.
      </p>
      <p
        class="font-['Open Sans'] 2xl:text-base xl:text-base lg:text-base md:text-sm sm:text-sm text-white mb-4"
      >
        Eurus is more than just a marketplace; it's a thriving community where
        blue collar talents like yours are celebrated and connected. Here,
        opportunities abound, and your journey towards professional growth finds
        a supportive environment.
      </p>
      <p
        class="font-['Open Sans'] 2xl:text-base xl:text-base lg:text-base md:text-sm sm:text-sm text-white mb-4"
      >
        Let's build a future that transforms lives and perceptions together.
        Join Eurus, engage with fellow members, and seize the boundless
        possibilities that lie ahead.
      </p>
      <!-- FOUNDER PROFILE -->
      <div class="flex mt-6">
        <div
          class="inline-block bg-[url('https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80')] h-[2.813rem] w-[2.813rem] rounded-full bg-cover mr-3.5"
        ></div>
        <div class="flex flex-col">
          <span class="font-['Open Sans'] font-semibold text-sm text-white"
            >Mateo Santos</span
          >
          <span class="font-['Open Sans'] text-white text-xs uppercase"
            >ceo eurus</span
          >
        </div>
      </div>
    </div>
    <div class="w-[10%] pt-3">
      <div class="flex h-[0.063rem] w-[6.25rem] bg-white justify-start"></div>
    </div>
  </div>
  <!-- 2ND SECTION -->
  <div class="w-1/2 h-full bg-red-500">
    <div class="flex flex-wrap content-center justify-center h-full">
      <img
        class="object-cover h-full w-full"
        src="assets/images/Letter from founder.gif"
        width="1920"
        height="1080"
      />
    </div>
  </div>
</section>
