<section class="h-[55vh] bg-white flex flex-col justify-center">
  <!-- HEADLINE -->
  <div class="flex justify-center items-center mb-16">
    <span class="font-['Open Sans'] font-bold text-[#1ECEA4] uppercase text-xl">
      Meet our team
    </span>
  </div>
  <!-- GROUP MEMBERS -->
  <div class="flex justify-center items-center space-x-32">
    <!-- 1ST PERSON -->
    <div>
      <div
        class="inline-block bg-[url('https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80')] h-[10.625rem] w-[10.625rem] rounded-full bg-cover mr-3.5"
      ></div>
      <div class="flex flex-col items-center mt-4">
        <span class="font-['Open Sans'] font-light text-lg">
          Mateo Santos
        </span>
        <span class="uppercase font-['Open Sans'] text-[#13B0A7] text-xs mt-2.5"
          >Chief Executive Officer</span
        >
      </div>
    </div>
    <!-- 2ND PERSON -->
    <div>
      <div
        class="inline-block bg-[url('https://images.pexels.com/photos/3796217/pexels-photo-3796217.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')] h-[10.625rem] w-[10.625rem] rounded-full bg-center bg-cover mr-3.5"
      ></div>
      <div class="flex flex-col items-center">
        <span class="font-['Open Sans'] font-light text-lg mt-4">
          Isabella Reyes
        </span>
        <span class="uppercase font-['Open Sans'] text-[#13B0A7] text-xs mt-2.5"
          >Director of Operations</span
        >
      </div>
    </div>
    <!-- 3RD PERSON -->
    <div>
      <div
        class="inline-block bg-[url('https://images.pexels.com/photos/5384445/pexels-photo-5384445.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')] h-[10.625rem] w-[10.625rem] rounded-full bg-cover mr-3.5"
      ></div>
      <div class="flex flex-col items-center">
        <span class="font-['Open Sans'] font-light text-lg mt-4">
          Rafael Cruz
        </span>
        <span class="uppercase font-['Open Sans'] text-[#13B0A7] text-xs mt-2.5"
          >Lead Developer</span
        >
      </div>
    </div>
    <!-- 4TH PERSON -->
    <div>
      <div
        class="inline-block bg-[url('https://images.pexels.com/photos/5876695/pexels-photo-5876695.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')] h-[10.625rem] w-[10.625rem] rounded-full bg-cover mr-3.5"
      ></div>
      <div class="flex flex-col items-center">
        <span class="font-['Open Sans'] font-light text-lg mt-4">
          Sofia Dela Cruz
        </span>
        <span class="uppercase font-['Open Sans'] text-[#13B0A7] text-xs mt-2.5"
          >Marketing Manager</span
        >
      </div>
    </div>
    <!-- 5TH PERSON -->
    <div>
      <div
        class="inline-block bg-[url('https://images.pexels.com/photos/2182970/pexels-photo-2182970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')] h-[10.625rem] w-[10.625rem] rounded-full bg-cover mr-3.5"
      ></div>
      <div class="flex flex-col items-center">
        <span class="font-['Open Sans'] font-light text-lg mt-4">
          Miguel Torres
        </span>
        <span class="uppercase font-['Open Sans'] text-[#13B0A7] text-xs mt-2.5"
          >Customer Relations Specialist</span
        >
      </div>
    </div>
  </div>
</section>
