<section
  class="2xl:h-[50vh] xl:h-[60vh] lg:h-[60vh] md:h-[80vh] sm:h-[90vh] bg-white flex flex-col justify-center"
>
  <!-- HEADLINE -->
  <div class="flex justify-center items-center">
    <span class="font-['Open Sans'] font-bold text-[#1ECEA4] uppercase">
      Our partners
    </span>
  </div>
  <!-- GROUP MEMBERS -->
  <div class="flex flex-wrap justify-center items-center space-x-20">
    <!-- 1ST PERSON -->
    <div>
      <div class="h-[6.25rem] w-[10.625rem]"></div>
      <img src="assets/images/olivia cooks.jpg" height="100" width="170" />
    </div>
    <!-- 2ND PERSON -->
    <div>
      <div class="h-[6.25rem] w-[10.625rem]"></div>
      <img src="assets/images/food house.jpg" height="100" width="170" />
    </div>
    <!-- 3RD PERSON -->
    <div>
      <div class="h-[6.25rem] w-[10.625rem]"></div>
      <img src="assets/images/lars hae.jpg" height="100" width="170" />
    </div>
    <!-- 4TH PERSON -->
    <div>
      <div class="h-[6.25rem] w-[10.625rem]"></div>
      <img src="assets/images/minimalist.jpg" height="100" width="170" />
    </div>
    <!-- 5TH PERSON -->
    <div>
      <div class="h-[6.25rem] w-[10.625rem]"></div>
      <img src="assets/images/omahku.jpg" height="100" width="170" />
    </div>
    <!-- 56H PERSON -->
    <div>
      <div class="h-[6.25rem] w-[10.625rem]"></div>
      <img src="assets/images/social builders.jpg" height="100" width="170" />
    </div>
  </div>
</section>
